:root {
  --cor-fundo-white-low: #ebecee;
  --cor-fundo-white: #ffffff;
  --cor-text-azul-low: #002f52;
  --cor-text-azul: #002f52f5;
  --cor-text-black: #000000;
  --cor-text-laranja: #eb9b00;
  --cor-btn-scroll: #c4c4c4;
  --cor-btn-scroll-hover: #002f52f5;
}
